 body.navigation-is-open {
     overflow-x: hidden;
     background-color: #0d0d0d;
 }

 .outer-wrap {
     position: relative;
     z-index: 12;
     overflow-y: auto;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transition: -webkit-transform 0.7s;
     -moz-transition: -moz-transform 0.7s;
     transition: transform 0.7s;
     -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
     -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
     transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
     background-color: #fff;
 }

 .navigation-is-open .outer-wrap {
     -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
     -ms-transform: translateX(100%);
     -o-transform: translateX(100%);
     transform: translateX(100%);
 }

 .cd-nav-trigger {
     position: fixed;
     z-index: 12;
     top: 13px;
     left: 20px;
     height: 54px;
     width: 54px;
     border-radius: 50%;
     overflow: hidden;
     text-indent: 100%;
     white-space: nowrap;
     -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
     transition: transform 0.5s;
 }

 .cd-nav-trigger .cd-nav-icon {
     /* icon created in CSS */
     position: absolute;
     left: 50%;
     top: 50%;
     bottom: auto;
     right: auto;
     -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
     -ms-transform: translateX(-50%) translateY(-50%);
     -o-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
     width: 22px;
     height: 2px;
     background-color: #5a5254;
 }

 .cd-nav-trigger .cd-nav-icon.white {}

 .cd-nav-trigger .cd-nav-icon.white,
 .navigation-is-open .cd-nav-trigger .cd-nav-icon,
 .navigation-is-open .cd-nav-trigger .cd-nav-icon.white.icon-blk {
     background-color: #fff;
 }

 .cd-nav-trigger .cd-nav-icon.white.icon-blk {
     background-color: #5a5254;
 }

 .cd-nav-trigger .cd-nav-icon::before,
 .cd-nav-trigger .cd-nav-icon:after {
     /* upper and lower lines of the menu icon */
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: inherit;
     /* Force Hardware Acceleration in WebKit */
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
     -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
     transition: transform 0.5s, width 0.5s, top 0.3s;
 }

 .cd-nav-trigger .cd-nav-icon::before {
     -webkit-transform-origin: right top;
     -moz-transform-origin: right top;
     -ms-transform-origin: right top;
     -o-transform-origin: right top;
     transform-origin: right top;
     -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
     -ms-transform: translateY(-8px);
     -o-transform: translateY(-8px);
     transform: translateY(-8px);
 }

 .cd-nav-trigger .cd-nav-icon::after {
     -webkit-transform-origin: right bottom;
     -moz-transform-origin: right bottom;
     -ms-transform-origin: right bottom;
     -o-transform-origin: right bottom;
     transform-origin: right bottom;
     -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
     -ms-transform: translateY(8px);
     -o-transform: translateY(8px);
     transform: translateY(8px);
 }

 .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
     top: 2px;
 }

 .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
     top: -2px;
 }

 .navigation-is-open .cd-nav-trigger {
     /* rotate trigger when navigation becomes visible */
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);
 }

 .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
 .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
     /* animate arrow --> from hamburger to arrow */
     width: 50%;
     -webkit-transition: -webkit-transform 0.5s, width 0.5s;
     -moz-transition: -moz-transform 0.5s, width 0.5s;
     transition: transform 0.5s, width 0.5s;
 }

 .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }

 .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after,
 .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
     top: 0;
 }

 .cd-nav {
     padding: 60px 0 0;
     position: fixed;
     z-index: 11;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: #0d0d0d;
     visibility: hidden;
     -webkit-transition: visibility 0s 0.7s;
     -moz-transition: visibility 0s 0.7s;
     transition: visibility 0s 0.7s;
 }

 .cd-nav .cd-navigation-wrapper {
     height: 100%;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     transform: translateX(-50%);
     -webkit-transition: -webkit-transform 0.7s;
     -moz-transition: -moz-transform 0.7s;
     transition: transform 0.7s;
     -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
     -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
     transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
 }

 .navigation-is-open .cd-nav {
     visibility: visible;
     -webkit-transition: visibility 0s 0s;
     -moz-transition: visibility 0s 0s;
     transition: visibility 0s 0s;
 }

 .navigation-is-open .cd-nav .cd-navigation-wrapper {
     -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
     -ms-transform: translateX(0);
     -o-transform: translateX(0);
     transform: translateX(0);
     -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
     transition: transform 0.5s;
     -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
     -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
     transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
 }

 @media only screen and (min-width: 1170px) {
     .cd-nav .cd-navigation-wrapper::after {
         clear: both;
         content: "";
         display: table;
     }
 }

 .no-js .cd-nav .cd-navigation-wrapper {
     height: auto;
     overflow: visible;
     padding: 100px 5%;
     -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
     -ms-transform: translateX(0);
     -o-transform: translateX(0);
     transform: translateX(0);
 }