{%extends 'shop/basic.html' %}
{%load static %}
{%block main%}
<body class="single-product">
    

    <main class="main single-pg p-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <nav class="woocommerce-breadcrumb mb-20">
                        <a href="#">Home</a>
                        <a href="#">Posters</a> Flying Ninja
                    </nav>
                </div>
            </div>
        </div>
        <!--bread crumb-->

        <section class="product-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="product">
                            <div class="images">
                                <img src="{{p_id.image.url}}" alt="Product" style="width: 350px;">

                                
                            </div>
                            <!--images-->

                            <div class="summary entry-summary">
                                <h4 class="product_title entry-title mb-10">
                                    {{p_id.produt_name}}
                                </h4>

                                <div class="price">
                                    <ins>{{p_id.price}} Rs</ins>
                                    <del>$200</del>
                                </div>
                                <!--price-->

                                <div class="woocommerce-product-rating mb-10">
                                    <span class="star-rating">
                                       <i class="fa fa-star"></i> 
                                       <i class="fa fa-star"></i> 
                                       <i class="fa fa-star"></i> 
                                       <i class="fa fa-star"></i> 
                                       <i class="fa fa-star"></i> 
                                    </span>
                                </div>
                                <!--star rating-->

                                <div class="stock-info mb-10">
                                    <span>
                                        <i class="fa fa-check-square"></i> Instock
                                    </span>
                                </div>

                                <div class="item-desc mb-20">
                                    <p>
                                        While lorem ipsum is a dummy the lovely valley teems with vapour around me, and the meridia sun strikes the upper surface dummy the lovely valley teems...
                                    </p>
                                </div>
                                <!--item desc-->
                                <form action="#" class="variations_form cart">
                                    <table class="variations">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <label>Size</label>
                                                </td>

                                                <td class="value">
                                                    <div class="custom-radio size-option">
                                                        <label class="custom-radio">
                                                            <input name="attribute_pa_size" type="radio" checked="">
                                                            <span class="radio-box">S</span>
                                                        </label>

                                                        <label class="custom-radio">
                                                            <input name="attribute_pa_size" type="radio">
                                                            <span class="radio-box">M</span>
                                                        </label>

                                                        <label class="custom-radio">
                                                            <input name="attribute_pa_size" type="radio">
                                                            <span class="radio-box">L</span>
                                                        </label>

                                                        <label class="custom-radio">
                                                            <input name="attribute_pa_size" type="radio">
                                                            <span class="radio-box">XL</span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--size-->
                                            
                                            <tr>
                                                <td class="label">
                                                    <label>Color</label>
                                                </td>
                                                
                                                <td class="value">
                                                    <select>
                                                        {%for i in p_id.color.all%}
                                                        <option value="">{{i}}</option>
                                                        {%endfor%}
                                                    </select>
                                                </td>
                                                
                                            </tr>
                                            
                                            <!--color-->
                                        </tbody>
                                    </table>
                                    <!--variation-->

                                    <div class="single_variation_wrap">
                                        <div class="variations_button">
                                            <div class="quantity">
                                                <div class="label">
                                                    <label>{{p_id.qty}}</label>
                                                </div>

                                                <div class="quantity-wrap">
                                                    <a href="">  <span class="minus"> - </span></a>
                                                    <input type="number" value="1" title="Qty" class="input-text qty" size="4">
                                                    <a href="">  <span class="add"> + </span></a>
                                                </div>
                                            </div>

                                            <a href="{% url 'add-cart-single-product-view' pk=p_id.id %}" class="button alt">
                                                <i class="fa fa-shopping-cart"></i> Add to Cart
                                            </a>

                                            <a href="{% url 'add-wishlist' pk=p_id.id %}" class="button-wish">
                                                <i class="fa fa-heart-o"></i> Add to Wishlist
                                            </a>
                                        </div>
                                    </div>
                                    <!--single variation-->

                                    <ul class="social-icons">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram "></i>
                                            </a>
                                        </li>
                                    </ul>
                                </form>
                                <!--form-->
                            </div>
                            <!--summery-->

                            <div class="woocommerce-tabs wc-tabs-wrapper hide-mobile">
                                <ul class="tabs wc-tabs nav nav-tabs" role="tablist">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#description" data-toggle="tab">Description</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#add-info" data-toggle="tab">Additional Information</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#review" data-toggle="tab">Reviews (0) </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active panel" id="description">
                                        <h4>Product description</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique porttitor nibh, scelerisque commodo odio laoreet nec. Curabitur erat neque, rhoncus vehicula consectetur ac, condimentum eget lectus. Pellentesque tincidunt, dui eu gravida consectetur, orci dui laoreet odio, in venenatis tellus odio pretium felis. Nunc vel sollicitudin urna. Cras vel odio eleifend, tristique magna quis, fringilla tellus. Pellentesque eros sapien, pellentesque vitae fermentum id, volutpat nec justo. Nunc consectetur pellentesque quam, ut pulvinar ligula semper pellentesque. Praesent fringilla nec eros sit amet vehicula.
                                        </p>
                                        <p>
                                            usce purus mauris, euismod quis pharetra ullamcorper, elementum ac urna. In vitae auctor tellus. Maecenas id dictum libero. Aenean ullamcorper mi sit amet rutrum vestibulum. Aliquam magna enim, viverra et leo semper, auctor finibus lacus. Donec auctor ante magna, nec tristique lorem aliquam non. Sed elementum vitae magna lacinia imperdiet. Vestibulum ac odio id turpis fringilla dictum. Quisque at aliquam risus, non egestas turpis. Cras convallis elit at risus dignissim molestie. Aenean bibendum molestie diam, vel sollicitudin libero condimentum eget. Nunc justo ipsum, mollis euismod ex a, viverra scelerisque massa. Quisque venenatis dolor quam, quis tincidunt libero placerat sit amet. Quisque ornare metus eget purus vulputate congue. Etiam cursus lectus in tristique interdum.
                                        </p>
                                        <p>
                                            Etiam venenatis, sem ut sollicitudin condimentum, nisl velit dignissim urna, in efficitur neque diam in urna. Cras at sem arcu. Nulla facilisi. Mauris tellus neque, efficitur in erat non, bibendum eleifend risus. Curabitur sed iaculis leo.
                                        </p>
                                    </div>
                                    <!--description-->

                                    <div class="tab-pane panel" id="add-info">
                                        <h4>Additional Information </h4>
                                    </div>
                                    <!--additional information-->

                                    <div class="tab-pane panel" id="review">
                                        <h4>Reviews (0) </h4>
                                    </div>
                                    <!--reviews-->
                                </div>
                            </div>
                            <!--only sho win desktop and tablet-->


                            <div id="accordion" class=" product-desc show-mobile">
                              <h3>Product description</h3>
                              <div>
                                    <p>
                                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                                    </p>
                              </div>

                              <h3>Additional Information</h3>
                              <div>
                                    <p>
                                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                                        suscipit faucibus urna.
                                    </p>
                              </div>

                              <h3>Reviews(0)</h3>
                              <div>
                                    <p>
                                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                                    </p> 
                              </div>
                            </div>
                            <!--show mobile only-->
                        </div>
                        <!--product-->
                    </div>
                    <!--top-->

                    
                    <!--recommended-->
                </div>
            </div>
        </section>
        <!--single product-->
    </main>
    <!--main-->

{%endblock%}