{%extends 'shop/basic.html' %}
{%load static %}
{%block banner%}
<div class="main-banner banner-scroll">
    <div class="fixed-banner about-banner">
        <div class="banner-content">
            <div class="content-wrap mb-0 banner-overlay">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h2>A team of <span class="primary-color">fashion designer</span> & <span class="secondary-color">marketer</span> 
                                 working together to change trend</h2> 
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
            <!--content wrap-->
        </div>
        <!--banner content-->
    </div>
</div>
<!--main banner-->
{%endblock banner%}
{%block main%}
<main class="main primary-padding about-page">  
    <section class="about-top p-pb nmt-5">
        <div class="container">
           <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-12 left-block">
                   <h2 class="text-uppercase font-wt-300">about the company</h2>
                    <p>
                        We are a fashion ecommerce company. That’s likely over-simplified, lorem ipsum is a dummy text and we use in all themes. We sell trendy fasion items online globally, a collaborative explosion of creativity fueled by a community of amazing developers, and designers. We use the word “fun” a lot in these company bios, so come be our friend and see if we It was popularised in the 1960s.
                    </p>

                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. 
                   </p>
               </div>
               <!--left block-->
                
                <div class="col-md-6 col-sm-6 col-xs-12 right-block">
                    <div class="mission mb-80">
                        <h4 class="text-uppercase font-wt-300">our mission</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                        </p>
                    </div>
                    <!--misson-->

                    <div class="vision">
                        <h4 class="text-uppercase font-wt-300">our vission</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                        </p>
                    </div>
                    <!--vision-->
                </div>
                <!--right block-->

           </div> 
        </div>
    </section>
    <!--about top-->

    <section class="founder-block p-pb">
        <div class="bg-gray">
           <div class="container">
               <div class="row">
                   <div class="col-md-6 col-sm-6 col-xs-12 left-block">
                       <figure>
                           <img src="{% static 'shop\assets\images\founder-img.jpg'%}" alt="">
                       </figure>
                   </div>
                   <!--founder img-->

                   <div class="col-md-6 col-sm-6 col-xs-12 right-block">
                       <div class="primary-padding">
                           <h2 class="text-uppercase font-wt-300">the founder story</h2>

                           <div class="content-wrap">
                               <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
                                </p>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make leap.
                               </p>
                           </div>
                           <!--content-->

                           <div class="founder lh-normal">
                               With Love
                               <span class="font-dafoe">Rosy Gonza</span>
                           </div>
                       </div>
                   </div>
                   <!--founder desc-->
               </div>
           </div>
        </div>
    </section>
    <!--founder-->

    <section class="story p-pb">
       <div class="container">
           <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                   <h2 class="text-center text-uppercase mb-40 lh-normal font-wt-300">our story</h2>

                   <div class="content-wrap">
                       <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                    </p>

                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>

                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                    </p>

                    <p>    
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                   </div>
                   <!--content-->
               </div>
           </div>
       </div> 
    </section>
    <!--story-->

    <section class="quote p-pb">
        <div class="primary-bg primary-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-xs-12 text-center"> 
                        <h4>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--quote block-->

    <section class="leader-block p-pb">
       <div class="container">
           <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="text-center text-uppercase mb-40 lh-normal font-wt-300">
                        leadership team
                    </h2>
               </div>
               <!--title-->

               <div class="col-md-4 col-sm-4 col-xs-12 leader-box text-center">
                   <figure class="image-effect">
                       <img src="{%static 'shop\assets\images\leader1.jpg'%}" alt="">
                   </figure>

                   <h4>John David <span>willson</span></h4>

                   <span>CEO/Co-Founder</span>

                    <ul class="social-icons">
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram "></i></a> </li>
                    </ul>
               </div>
               <!--single leader-->

               <div class="col-md-4 col-sm-4 col-xs-12 leader-box text-center">
                   <figure class="image-effect">
                       <img src="{%static 'shop\assets\images\leader2.jpg'%}" alt="">
                   </figure>

                   <h4>melsina  <span>graftson</span></h4>

                   <span>CTO/Co-Founder</span>

                    <ul class="social-icons">
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram "></i></a> </li>
                    </ul>
               </div>
               <!--single leader-->

               <div class="col-md-4 col-sm-4 col-xs-12 leader-box text-center">
                   <figure class="image-effect">
                       <img src="{%static 'shop\assets\images\leader3.jpg'%}" alt="">
                   </figure>

                   <h4>dragosa  <span>butsinango</span></h4>

                   <span>Chief Advisor</span>

                    <ul class="social-icons">
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram "></i></a> </li>
                    </ul>
               </div>
               <!--single leader-->
           </div>
       </div> 
    </section>
    <!--leader block-->

    <section class="culture-block secondary-bg">  
        <div class="container">
            <div class="row">
                <div class="col-sm-2 left">
                    <h2 class="text-uppercase vertical-title">our culture</h2> 
                </div>
                <!--left-->

                <div class="col-sm-10 right">
                    <div class="culture-wrap">
                        <div class="grid-wrap">
                            <div class="item">
                                <a href="{%static 'shop\assets\images\cl-1.jpg'%}" class="image-effect overlay group1">
                                    <img src="{%static 'shop\assets\images\cl-1.jpg'%}" alt="">
                                </a>
                            </div>
                            <!--item-->

                            <div class="item item-2 ">
                                <a href="{%static 'shop\assets\images\cl-2.jpg'%}" class="image-effect overlay group1">
                                    <img src="{%static 'shop\assets\images\cl-2.jpg'%}" alt="">
                                </a>
                            </div>
                            <!--item-->

                            

                            <div class="item">
                                <a href="{%static 'shop\assets\images\cl-4.jpg'%}" class="image-effect overlay group1">
                                    <img src="{%static 'shop\assets\images\cl-4.jpg'%}" alt="">
                                </a>
                            </div>
                            <!--item-->

                            <div class="item">
                                <a href="{%static 'shop\assets\images\cl-5.jpg'%}" class="image-effect overlay group1">
                                    <img src="{%static 'shop\assets\images\cl-5.jpg'%}" alt="">
                                </a>
                            </div>
                            <!--item-->

                            <div class="item item-3 ">
                                <a href="{%static 'shop\assets\images\cl-3.jpg'%}" class="image-effect overlay group1">
                                    <img src="{%static 'shop\assets\images\cl-3.jpg'%}" alt="">
                                </a>
                            </div>
                            <!--item-->
                        </div>
                    </div>
                    <!--culture-list-->
                </div>
                <!--right-->
            </div>
        </div>
    </section>
    <!--culture block-->
</main>
<!--main--> 
{%endblock main%}