{%load static%}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    
        <title>RAB Fashion</title>
        
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="assets\images\fav.jpg">
        <link rel="shortcut icon" type="image/png" href="assets\images\fav.jpg">
    
        <!-- GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CMr+Dafoe%7CPoppins:300,400,500,600,700" rel="stylesheet"> 
    
        <!-- CSS LIBRARY -->
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\font-awesome-animation.min.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\jquery.bxslider.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\pe-icon-7-stroke.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\colorbox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\menu.css' %}">  
    
        <!-- Main css -->
        <link rel="stylesheet" type="text/css" href="{% static 'shop\style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\responsive.css' %}">
    
        <!-- color skin -->
        <link rel="stylesheet" type="text/css" href="{% static 'shop\assets\css\color-skin\default.css' %}">
    
        <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

<body>
    <header class="header-2">
        <div class="container">
            <div class="row top">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a class="navbar-brand" href="{%url 'login'%}">
                        <img src="{% static 'shop\assets\images\logo.png'%}" alt="Logo">
                    </a>
                    <!--logo-->

                    <div class="header-right">
                        <form class="searchbox navbar-form">
                            <input type="search" placeholder="Search..." name="search" class="searchbox-input" onkeyup="buttonUp();" required="">
                            <input type="submit" class="searchbox-submit" value="">
                            <span class="searchbox-icon"><i class="pe-7s-search"></i></span>
                        </form>
                        <!--form-->

                        <ul class="site-header-cart menu on-hover">
                            <li>
                                <a href="{%url 'wishlist'%}" title="">
                                    <span class="count rounded-crcl">{{request.session.wishlist_length}}</span>
                                    <i class="pe-7s-like icon"></i>
                                </a>
                            </li>
                            <!--wish list-->

                            <li>
                                <a href="{%url 'view-cart'%}" title="">
                                    <span class="count rounded-crcl">{{request.session.cart_length}}</span>
                                    <i class="pe-7s-shopbag icon"></i>
                                </a>
                            </li>
                            <!--cart-->
                        </ul>
                        {% if  "email" in request.session %}
                        <ul class="login">
                            
                            <img src="" alt="" class="">
                            
                            <li>	
                            <h5>Welcome {{request.session.username}},</h5>
                            </li>
                            
                            <a href="{% url 'logout' %}"><span style="text-align:right">Logout</span></a>


                            
                        </ul>
                        {% else %}
                        <ul class="login">
                            <li>
                                <a href="{% url 'loginpage' %}">Login</a>
                            </li>
                            
                            <li class="register">
                                <a href="{% url 'registrationpage' %}">Register</a>
                            </li>
                        </ul>
                        {%endif %}
                    </div>
                    <!--right-->
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--button-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="current-menu-item dropdown">
                            <a href="#" class="dropdown-toggle">Home</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="index.html">Fashion v1</a></li>
                                <li><a href="31-rab-fashion-v2.html">Fashion v2</a></li>
                                <li><a href="32-rab-fashion-v3.html">Fashion v3</a></li>
                                <li><a href="02-rab-shoes.html">Shoes </a></li>
                                <li><a href="03-rab-bags.html">Bags </a></li>
                                <li><a href="33-rab-cosmetics.html">Cosmetics</a></li>
                            </ul>
                        </li>

                        <li class="mega-link dropdown">
                          <a href="#" class="dropdown-toggle">Women’s </a>
                            <div class="mega-menu dropdown-menu">
                               <div class="mega-wrap row">
                                   <div class="col-sm-3">
                                       <h6>Clothing</h6>
                                       <ul>
                                           <li><a href="#">Shirts, Tops &amp; Tees</a></li>
                                           <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                           <li><a href="#">Jackets &amp; Sweaters</a></li>
                                           <li><a href="#">Jeans, Pants &amp; Leggings</a></li>
                                           <li><a href="#">Dresses &amp; Skirts</a></li>
                                           <li><a href="#">Suits &amp; Blazers</a></li>
                                           <li><a href="#">Sportswear</a></li>
                                           <li><a href="#">Other Women's Clothing</a></li>
                                       </ul>
                                   </div>
                                   <!--clothing-->

                                   <div class="col-sm-3">
                                       <h6>Handbags</h6>
                                       <ul>
                                           <li><a href="#">Backpacks</a></li>
                                           <li><a href="#">Cross-Body Bags</a></li>
                                           <li><a href="#">Shoulder Bags</a></li>
                                           <li><a href="#">Top-Handle Bags</a></li>
                                           <li><a href="#">Wallets</a></li> 
                                           <li><a href="#">Tote &amp; Clutches</a></li> 
                                           <li><a href="#">Duffels, Luggage &amp; Suitcase</a></li> 
                                           <li><a href="#">Wristlets</a></li> 
                                       </ul>

                                       <h6> Sunglasses & Eyewear </h6>
                                        <ul>
                                           <li><a href="#">Women's Sunglasses</a></li>
                                           <li><a href="#">Women's Spectacle & Medical Frames </a></li> 
                                       </ul>
                                   </div>
                                   <!--Accessories-->

                                   <div class="col-sm-3">
                                       <h6>Footwear</h6>
                                       <ul>
                                           <li><a href="#">Boots &amp; Sandals</a></li>
                                           <li><a href="#">Sports Shoes</a></li>
                                           <li><a href="#">Pumps &amp; Heels</a></li>
                                           <li><a href="#">Flats, Flip Flops &amp; Slippers</a></li>
                                           <li><a href="#">Loafers &amp; Slip-ons</a></li> 
                                       </ul>

                                       <h6>Accessories</h6>
                                       <ul>
                                           <li><a href="#">Rings</a></li>
                                           <li><a href="#">Earrings</a></li>
                                           <li><a href="#">Necklaces &amp; Pendants</a></li>
                                           <li><a href="#">Bracelets &amp; Bangles</a></li>
                                           <li><a href="#">Jewelry Sets</a></li> 
                                       </ul>
                                   </div>
                                   <!--clothing--> 

                                   <div class="col-sm-3">
                                      <figure>
                                          <a href="#"><img src="assets\images\sidebar-banner.jpg" alt=""></a>
                                      </figure>  
                                   </div>
                                   <!--clothing-->
                               </div> 
                            </div>
                        </li>

                        <li class="mega-link dropdown">
                            <a href="#" class="dropdown-toggle">Men’s </a>
                            <div class="mega-menu dropdown-menu">
                               <div class="mega-wrap row">
                                   <div class="col-sm-3">
                                       <h6>Clothing</h6>
                                       <ul>
                                           <li><a href="#">Jeans, Pants &amp; Trousers</a></li>
                                           <li><a href="#">Shirts, Tops &amp; Tees</a></li>
                                           <li><a href="#">Jackets &amp; Sweaters</a></li>
                                           <li><a href="#">Jeans, Pants &amp; Leggings</a></li> 
                                           <li><a href="#">Suits &amp; Blazers</a></li>
                                           <li><a href="#">Sportswear</a></li>
                                           <li><a href="#">Innerwear &amp; Sleepwear</a></li>
                                           <li><a href="#">Other Mens's Clothing</a></li>
                                       </ul>
                                   </div>
                                   <!--clothing-->

                                   <div class="col-sm-3">
                                       <h6>Accessories</h6>
                                       <ul>
                                           <li><a href="#">Backpacks</a></li>
                                           <li><a href="#">Laptop Bags</a></li>
                                           <li><a href="#">Duffles, Luggage &amp; Suitcase</a></li>
                                           <li><a href="#">Wallets</a></li>
                                           <li><a href="#">Men's Jewelry</a></li> 
                                       </ul>

                                       <h6> Watches </h6>
                                        <ul>
                                           <li><a href="#">Wrist Watches</a></li>
                                           <li><a href="#">Watch Sets</a></li> 
                                           <li><a href="#">Other  Men's Watches</a></li> 
                                           <li><a href="#">Watch Sets</a></li> 
                                       </ul>
                                   </div>
                                   <!--Accessories-->

                                   <div class="col-sm-3">
                                       <h6> Sunglasses &amp; Eyewear </h6>
                                        <ul>
                                           <li><a href="#">Sunglasses</a></li>
                                           <li><a href="#">Spectacle &amp; Medical Frames</a></li> 
                                       </ul>

                                       <h6>Footwear</h6>
                                       <ul>
                                           <li><a href="#">Boots, Shoes &amp; Sandals</a></li>
                                           <li><a href="#">Fashion Sneakers</a></li>
                                           <li><a href="#">Flats, Flip-Flops &amp; Slippers</a></li> 
                                       </ul>
                                   </div>
                                   <!--clothing--> 

                                   <div class="col-sm-3">
                                      <figure>
                                          <a href="#"><img src="assets\images\sidebar-banner.jpg" alt=""></a>
                                      </figure>  
                                   </div>
                                   <!--clothing-->
                               </div> 
                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Shop</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="04-rab-fullwidth-shop-grid.html">Shop full width</a></li>
                                <li><a href="{% url 'rab_shop_left_sidebar_grid'%}">Shop grid left sidebar</a></li>
                                <li><a href="06-rab-shop-right-sidebar-grid.html">Shop grid  right sidebar</a></li>
                                <li><a href="07-rab-shop-left-sidebar-list.html">Shop list  left sidebar</a></li>
                                <li><a href="08-rab-shop-right-sidebar-list.html">Shop list  right sidebar</a></li>
                                <li><a href="09-rab-shop-product-single.html">Shop product single</a></li>
                                <li> <a href="10-rab-shop-product-single-grouped.html">Shop product single grouped</a></li>
                                <li><a href="{%url 'view-cart'%}">Cart</a></li>
                                <li><a href="{%url 'wishlist'%}">Wishlist</a></li>
                                <li><a href="12-rab-shop-checkout.html">Checkout</a></li>
                                <li><a href="{%url 'order-complete-view'%}">Order Complete</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Pages</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="{%url 'about'%}">About us</a></li>
                                <li><a href="27-rab-contact.html">Contact us</a></li>
                                <li><a href="28-rab-support.html">Support</a></li>   
                            </ul>
                        </li> 

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Blog</a>
                            <ul class="sub-menu dropdown-menu"> 
                                <li><a href="22-rab-blog-classic.html">Blog classic</a></li>
                                <li><a href="23-rab-blog-masonarry.html">Blog masonarry</a></li>
                                <li><a href="24-rab-blog-modern.html">Blog mordern</a></li>
                                <li><a href="25-rab-blog-single.html">Blog single</a></li>
                            </ul>
                        </li> 
                    </ul>
                </div>
                <!--container-->                
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </header>
    <!--header-->
    {%block banner%}

    {% endblock banner %}
    {%block main%}

    {% endblock main%}

  

    <footer>
        <div class="bg-gray primary-padding top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h6 class="footer-title">Customer Care</h6>
                        <ul class="footer-link cs-link">
                            <li><a href="#">Contact Us </a></li>
                            <li><a href="#">Payment Options </a></li>
                            <li><a href="#">Ordering </a></li>
                            <li><a href="#">Shipping & Delivery </a></li>
                            <li><a href="#">Returns & Exchanges</a></li>
                        </ul>
                    </div>
                    <!--customer care-->

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h6 class="footer-title">Information</h6>
                        <ul class="footer-link cs-link">
                            <li><a href="#">About Us </a></li>
                            <li><a href="#">Careers </a></li>
                            <li><a href="#">Affiliates </a></li>
                            <li><a href="#">Press </a></li>
                            <li><a href="#">Investor Relations</a></li>
                        </ul>
                    </div>
                    <!--information-->

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h6 class="footer-title">Site Terms</h6>
                        <ul class="footer-link cs-link">
                            <li><a href="#">Sitemap </a></li>
                            <li><a href="#">Terms of Use </a></li>
                            <li><a href="#">Terms of Sale </a></li>
                            <li><a href="#">Privacy Policy </a></li>
                            <li><a href="#">Shop Glossary </a></li>
                        </ul>
                    </div>
                    <!-- Site Terms -->

                    <div class="col-md-3 col-sm-3 col-xs-12 signup">
                        <h6 class="footer-title">Email signup</h6>
                        <p class="primary-color">
                            <strong>Get 10% OFF when you signup for our email newsletter!</strong>
                        </p>

                        <form action="#" class="form-inline">
                            <input type="text" placeholder="Email address">
                            <button type="submit"><i class="pe-7s-mail"></i></button>
                        </form>
                        <p class="lh-normal">
                            <small>By entering your email address, you agree to receive offers, promotions, and other commercial messages RAB Fashion. </small>
                        </p>
                    </div>
                    <!--email signup-->
                </div>
            </div>
        </div>
        <!--top-->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 copy-right">
                        Copyright © 2017 <a href="#" class="primary-color"><strong>RAB Shopping.</strong></a> All rights reserved.
                    </div>
                    <!--left-->

                    <div class="col-md-6 col-sm-6 col-xs-12 txt-r ">
                        <ul class="social-icons">
                            <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-instagram "></i></a> </li>
                        </ul>
                    </div>
                    <!--right-->
                </div>
            </div>
        </div>
        
    </footer>
    <!--footer-->
    
    <!-- back to top-->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
  
    <!-- Js libery -->
    <script src="{% static 'shop\assets\js\jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'shop\assets\js\bootstrap.min.js' %}"></script>
    <script src="{% static 'shop\assets\js\modernizr.js' %}"></script>

    <!--jquery ui-->
    <script src="{% static 'shop\assets\js\jquery-ui.js' %}"></script>
    <script src="{% static 'shop\assets\js\jquery-ui-touch-punch.js' %}"></script>
    

    <!-- masonry -->
    <script src="{% static 'shop\assets\js\masonry.pkgd.min.js' %}"></script>

    <!-- slider js -->
    <script src="{% static 'shop\assets\js\jquery.bxslider.min.js' %}"></script>
    

    <!--color box-->
    <script src="{% static 'shop\assets\js\jquery.colorbox-min.js' %}"></script>
    
    <!-- wow -->
    <script src="{% static 'shop\assets\js\wow.min.js' %}"></script>

    <!-- parallax -->
    <script src="{% static 'shop\assets\js\parallax.js' %}"></script>

    <!-- jquery.dlmenu -->
    <script src="{% static 'shop\assets\js\jquery.dlmenu.js' %}"></script>   

    <!-- count down -->
    <script type="text/javascript" src="{% static 'shop\assets\js\jquery.countdown.min.js' %}"></script>

    <!--Costom js-->
    <script src="{% static 'shop\assets\js\main.js' %}"></script>
</body>

</html>
