{%extends 'shop/basic.html' %}
{%load static %}
{%block banner%}
<div class="main-banner inner-banner banner-scroll">
        <div class="fixed-banner banner2">
            <div class="banner-content">
                <div class="content-wrap mb-0 banner-overlay">
                    <div class="inner">
                        <h2>blog classic</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Blog classic</li>
                        </ol>
                    </div>
                </div>
                <!--content wrap-->
            </div>
            <!--banner content-->
        </div>
    </div>
    <!--main banner-->
{%endblock banner%}
{%block main%}
    <main class="main primary-padding">
        <section class="blog-block">
            <div class="container">
                <div class="row">    
                    <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
                        <div class="blog-list-wrap">
                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-1.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->

                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-2.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->

                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-3.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->

                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-4.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->

                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-5.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->

                            <div class="blog-list">
                                <figure class="mb-25">
                                    <a href="#" class="image-effect overlay">
                                        <img src="assets\images\b-classic-6.jpg" alt="">
                                    </a>
                                </figure>
                                <!--figure-->

                                <h3 class="entry-title mb-5">
                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                </h3>
                                <!--title-->

                                <div class="post-info mb-28">
                                    <span> 
                                        <i class="fa fa-calendar"></i> 12 Jan 2017 
                                    </span>

                                    <span> 
                                        <i class="fa fa-user"></i> By <a href="#">John Doe </a> 
                                    </span>

                                    <span> 
                                        <i class="fa fa-comments"></i> 
                                        <a href="#">10 comments</a> 
                                    </span>
                                    
                                    <span> 
                                        <i class="fa fa-tags"></i> 
                                        <a href="#">Fashion</a>, 
                                        <a href="#">Trends</a>, 
                                        <a href="#">Girly Fashion</a>  
                                    </span>
                                </div>
                                <!--post info-->

                                <div class="entry-post-content  mb-20">
                                    <p>
                                        Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. Placerat tortor ultrices curabitur nulla ullamcorper a scelerisque convallis risus nibh cursus nam vestibulum. Netus parturient accumsan mus a massa. Vestib ulum non adipiscing a suspendisse est semper ligula montes maecenas condimentum adipiscing. Pretium suspendisse ut a rutrum a per vestibulum fusce vestibulum.
                                    </p>
                                </div>
                                <!--entry post content-->
                                <a href="#" class="more">Learn More</a>
                            </div>
                            <!--blog single-->
                        </div>
                        <!--blog list wrap-->

                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span class="fa fa-caret-left"> </span>
                                </a>
                            </li>

                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li> 
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span class="fa fa-caret-right"> </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--left-->

                    <div class="col-md-3 col-sm-3 col-xs-12 sidebar">
                        <div class="widget widget_categories mb-30">
                            <h5 class="widget-title">Categories</h5>

                            <ul>
                                <li><a href="#">Creative </a></li>
                                <li><a href="#">Image </a></li>
                                <li><a href="#">Music </a></li>
                                <li><a href="#">Photography </a></li>
                                <li><a href="#">Travel </a></li>
                                <li><a href="#">Uncategorized </a></li>
                                <li><a href="#">Videos </a></li>
                                <li><a href="#">WordPress </a></li>
                            </ul>
                        </div>
                        <!--categories-->

                        <div class="widget widget_archive mb-30">
                            <h5 class="widget-title">Archives</h5>

                            <ul>
                                <li><a href="#">January 2017 </a></li>
                                <li><a href="#">December 2016 </a></li>
                                <li><a href="#">November 2016 </a></li>
                                <li><a href="#">October 2016 </a></li>
                                <li><a href="#">September 2016 </a></li>
                                <li><a href="#">August 2016 </a></li>
                                <li><a href="#">July 2016 </a></li>
                            </ul>
                        </div>
                        <!--archives-->

                        <div class="widget widget_recent_entries mb-30">
                            <h5 class="widget-title">Recent Post</h5>

                            <ul>
                                <li>
                                    <figure>
                                        <a href="#">
                                            <img src="assets\images\recent-post-thumb.jpg" alt="">
                                        </a>
                                    </figure>

                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                    <span class="post-date">12 Jan 2017</span>
                                </li>
                                <!--single post-->

                                <li>
                                    <figure>
                                        <a href="#">
                                            <img src="assets\images\recent-post-thumb2.jpg" alt="">
                                        </a>
                                    </figure>

                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                    <span class="post-date">12 Jan 2017</span>
                                </li>
                                <!--single post-->

                                <li>
                                    <figure>
                                        <a href="#">
                                            <img src="assets\images\recent-post-thumb3.jpg" alt="">
                                        </a>
                                    </figure>

                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                    <span class="post-date">12 Jan 2017</span>
                                </li>
                                <!--single post-->

                                <li>
                                    <figure>
                                        <a href="#">
                                            <img src="assets\images\recent-post-thumb4.jpg" alt="">
                                        </a>
                                    </figure>

                                    <a href="#">
                                        Forget the glass slippers This princ ess wears running 
                                    </a>
                                    <span class="post-date">12 Jan 2017</span>
                                </li>
                                <!--single post-->
                            </ul>
                            <a href="#" class="more">More Post</a>
                        </div>
                        <!--archives-->

                        <div class="widget widget_tag_cloud mb-30">
                            <h5 class="widget-title">Tags</h5>
                            <div class="tagcloud">
                                <a href="#">Fashion</a>
                                <a href="#">ladies wear</a>
                                <a href="#">kids</a>
                                <a href="#">trendy</a>
                                <a href="#">sport’s wear</a>
                                <a href="#">shoes</a>
                                <a href="#">party dress</a>
                                <a href="#">sandals</a>
                                <a href="#">Tee’s</a>
                                <a href="#">Fashion</a>
                                <a href="#">ladies wear</a>
                                <a href="#">kids</a>
                                <a href="#">trendy</a>
                                <a href="#">sport’s wear</a>
                                <a href="#">shoes</a>
                                <a href="#">party dress</a>
                                <a href="#">sandals</a>
                                <a href="#">Tee’s</a>
                            </div>
                        </div>
                        <!--tags-->

                        <div class="widget mb-30">
                            <a href="#">
                                <img src="assets\images\widgit-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--right-->
                </div>
            </div>
        </section>
        <!--blog-->
    </main>
    <!--main-->
{%endblock main%}
 